flask
flask-cors
flask-restx
flask-bcrypt
flask-migrate
flask-script
flask-testing
openai
weasyprint
pyjwt==1.7.1
psycopg2-binary
cryptography
requests
pyOpenSSL
pycryptodomex
redis
azure-core
azure-storage-blob
beautifulsoup4
azure-ai-language-conversations==1.1.0
lancedb==0.24.1
llama-index
langchain
html5lib
docx2txt
lxml
xlrd
openpyxl
python-socketio
fastapi
uvicorn
asyncpg
azure-cognitiveservices-speech==1.41.1
pydub
soundfile
SpeechRecognition
setuptools
langchain_openai
langgraph
langgraph-checkpoint
rerankers[transformers]